In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\usuario\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# Connection parameters
username = "root"
password = "Alexx123."
host = "localhost"
port = 3306  # must be integer
database = "us_project"

# Encode password (safe for special characters)
password_encoded = quote_plus(password)

# Create SQLAlchemy engine
engine = create_engine(
    f"mysql+pymysql://{username}:{password_encoded}@{host}:{port}/{database}",
    connect_args={"local_infile": 1}  # optional for CSV imports
)

print("Connection engine created successfully!")

Connection engine created successfully!

In [5]:
import pandas as pd

df = pd.read_csv(
    r"C:\Users\Usuario\Desktop\Analyst Builder\3 MySQL for Data Analytics\11 Full Projects\4 US Household Income Data Cleaning\USHouseholdIncome_Statistics.csv"
    
)
print(df.head())

        id State_Name   Mean  Median  Stdev        sum_w
0  1011000    Alabama  38773   30506  33101  1638.260513
1  1011010    Alabama  37725   19528  43789   258.017685
2  1011020    Alabama  54606   31930  57348   926.031000
3  1011030    Alabama  63919   52814  47707   378.114619
4  1011040    Alabama  77948   67225  54270   282.320328

In [6]:
#First do the following:
#1 Create a database in MySQL: 
#CREATE DATABASE us_project;
#2 Verify the database exists
#SHOW DATABASES;

# Export to sql
df.to_sql(
    name="us_household_income_statistics",   # Table name
    con=engine,
    if_exists="replace",              # or "append" to add without deleting existing
    index=False,                      # Avoid exporting pandas index
    chunksize=1000                    # Handle large datasets in batches
)

32526